* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}


.navbar {
    background-color: rgb(40, 60, 61);
    color: white;
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
    font-size: 18px;
}

.navbar ul li {
    cursor: pointer;
}

.navbar ul li:hover {
    color: rgb(201, 89, 89);
}

.hero {
    background-color: #0151cc;
    padding: 80px 0;
    color: white;
}

.hero-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-text {
    flex: 1;
}

.hero-text h3 {
    font-size: 3rem;
    color: #d3cbcb;
    font-weight: bold;
}

.hero-text h2 {
    font-size: 3rem;
    color: #d8aa13;
    font-weight: bold;
}

.hero-text p {
    margin: 20px 0;
    max-width: 500px;
}

.hero-text button {
    padding: 12px 25px;
    border: none;
    background-color: white;
    color: #0151cc;
    font-weight: bold;
    border-radius: 5px;
    cursor:progress;
}

.hero-text button:hover {
    background-color: #d8aa13;
    color: white;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-image img {
    width: 400px;
}